/* colors:
red- #85374B
darker red- #52212D
blue- #86C9C0
darker blue- #659690
black- #090302
*/

body {
  margin: 0;
  font-family: Informa Pro;
  background-image: url(../images/cheerwinedrawing.jpeg);
  background-size: cover;
  backdrop-filter: brightness(55%);
}

.bg-img {
  margin: none;
  padding: none;
}

h1 {
  font-weight: regular;
}

h2 {
  font-weight: regular;
}

.splide {
  height: 100vh;
  padding: none;
  margin: none;
}

.splide_slide {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.slide1 {
  text-align: center;
}

.intro {
  padding: 7rem;
}

.title {
  color: white;
  text-align: center;
}

.web-title {
  color: white;
  margin-top: 24vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5rem;
}

.subtitle {
  color: white;
}

.slide2 {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 6rem;
}

.creation {
  border-radius: 10px;
  text-align: center;
}

.slide-img {
  height: 40vh;
  width: auto;
  border-radius: 10px;
}

.slide3 {
  padding: 2rem;
  color: white;
}

.timeline {
  padding-top: 8rem;
}

.slide4 {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
}

.context {
  border-radius: 10px;
  text-align: center;
}

.slide5 {
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;
}

.bbq {
  border-radius: 10px;
  text-align: center;
}

.slide6 {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

.influence {
  border-radius: 10px;
  text-align: center;
}

.slide7 {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
}

.closing {
  border-radius: 10px;
  text-align: center;
}

.slide8 {
  padding-top: 4rem;
}

.take-quiz {
  text-align: center;
}

.quiz-title {
  color: white;
}

.slide9 {
  background-color: #85374b;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  color: white;
  font-size: 2rem;
}

.source {
  color: #86c9c0;
  font-family: Informa Pro;
}

.source:hover {
  color: #659690;
}
